Microsoft.Flow/flows/9d6c3d7d-1b76-41d1-96f0-b10c1730f906/definition.json
{"name":"dfe4b65f-c3a9-445a-a709-88b93e9efd51","id":"/providers/Microsoft.Flow/flows/dfe4b65f-c3a9-445a-a709-88b93e9efd51","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"When a new channel message is added -> Parse JSON,Initialize variab...","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"8947118c-852b-4848-b9f6-91e599fd18de","type":"User","tenantId":"48f3cb6e-7807-49aa-a7b8-15d98edcaeb3"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-11-11T14:12:02.2392584Z","connectionKeySavedTimeKey":"2023-11-11T14:12:02.2392584Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_channel_message_is_added":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body']","metadata":{"operationMetadataId":"5d0d00aa-6aef-4d14-9d9c-3d029779b3ab"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"OnNewChannelMessage"},"parameters":{"groupId":"f48563f2-2f12-45ad-a426-c23ca1b18562","channelId":"19:ee1074e12ab94534a43f6d07946d9004@thread.tacv2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"e3e4a281-c8d5-4196-a7f7-2ad3019add25"},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"etag":{"type":"string"},"messageType":{"type":"string"},"createdDateTime":{"type":"string"},"lastModifiedDateTime":{"type":"string"},"importance":{"type":"string"},"locale":{"type":"string"},"webUrl":{"type":"string"},"id":{"type":"string"},"from":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"userIdentityType":{"type":"string"},"tenantId":{"type":"string"}}}}},"body":{"type":"object","properties":{"contentType":{"type":"string"},"content":{"type":"string"}}},"channelIdentity":{"type":"object","properties":{"teamId":{"type":"string"},"channelId":{"type":"string"}}},"attachments":{"type":"array"},"mentions":{"type":"array"},"reactions":{"type":"array"}}}}},"Initialize_variable_Prompt":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"c8173bd4-b8a7-487f-b6cf-a3845a6ba803"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Prompt","type":"string","value":"@body('Parse_JSON')?['body']?['content']"}]}},"Initialize_variable":{"runAfter":{"Initialize_variable_Prompt":["Succeeded"]},"metadata":{"operationMetadataId":"d792683c-cbfe-4a4c-82ad-f97282e6e57b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApiKey","type":"string","value":"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"}]}},"HTTP":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"4f2bb845-9105-439e-97e4-6d9a21aa19fd"},"type":"Http","inputs":{"method":"POST","uri":"https://api.openai.com/v1/completions","headers":{"Authorization":"Bearer @{variables('ApiKey')}"},"body":{"model":"text-davinci-003","prompt":"@{variables('Prompt')}","temperature":0,"max_tokens":4000}}},"Parse_JSON_2":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"6097cc43-9678-4127-9211-11e4d42c6f1b"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"etag":{"type":"string"},"messageType":{"type":"string"},"createdDateTime":{"type":"string"},"lastModifiedDateTime":{"type":"string"},"importance":{"type":"string"},"locale":{"type":"string"},"webUrl":{"type":"string"},"id":{"type":"string"},"from":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"userIdentityType":{"type":"string"},"tenantId":{"type":"string"}}}}},"body":{"type":"object","properties":{"contentType":{"type":"string"},"content":{"type":"string"}}},"channelIdentity":{"type":"object","properties":{"teamId":{"type":"string"},"channelId":{"type":"string"}}},"attachments":{"type":"array"},"mentions":{"type":"array"},"reactions":{"type":"array"}}}}},"Compose":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"cdd29b4e-d5be-40a0-950f-67c94bd7ffc5"},"type":"Compose","inputs":"@body('Parse_JSON_2')?['choices'][0].text"},"Reply_with_a_message_in_a_channel":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"0f662da6-1d60-48cf-9277-4c40a89089da"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"ReplyWithMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/parentMessageId":"@triggerOutputs()?['body/id']","body/recipient/groupId":"f48563f2-2f12-45ad-a426-c23ca1b18562","body/recipient/channelId":"19:ee1074e12ab94534a43f6d07946d9004@thread.tacv2","body/messageBody":"<p>@{outputs('Compose')}</p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-27c5ac30-48a1-4d6d-91ec-d13b668c0373","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}